/*-----------------Images---------------------*/
.background-image {
    background-image: url("../images/gote/bro.jpg");
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.center-text {
    position: absolute;
    top: 60%;
    left: 60%;
    text-align: center;
}
