/*--------------FONT------------*/
* { 
 font-family: 'roboto', sans-serif;
}
/*----------  colors -------*/


/*-----------------   NAVBAR -----------------*/



.nav-link {
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 500;
}