/*--------------FONT------------*/
* { 
 font-family: 'roboto', sans-serif;
}
/*----------  colors 
#1f6f8b  - navcolor

-------*/
/*-----------------   NAVBAR -----------------*/
.navbar {
    background-color: #1f6f8b;
    padding: 8px;
}

.navbar-brand {
    font-size: 18px;   
}

.nav-link {
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 600;
}

#navbarNav li a:hover {
    background-color: #1f6f8b;
    color: #fafafa;
    transition: 0.8s;
}

.navbar-toggler {
    background-color: #1f6f8b;
    border: none;
}

.navbar-toggler .navbar-data-toggler:after{
    background-color: #fafafa;
}

/* ---------------- Backgroundimage ---------*/

.bg-image {
    background-image: url("../images/gote/bro.jpg");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}